* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --btn-hover-color: #404040;
    --fc-mainheader: #F3CA40;
    --ff-jetbrains: 'JetBrains Mono', monospace;
    --ff-sansita: 'Sansita', sans-serif;
    --ff-sansita-one: 'Sansita One', cursive;
    --ff-thin: 100;
    --ff-extra-light: 200;
    --ff-light: 300;
    --ff-regular: 400;
    --ff-medium: 500;
    --ff-semibold: 600;
    --ff-bold: 700;
    --ff-extra-bold: 800;
    font-size: 62.5%;
}

body {
    display: grid;
    min-height: 100vh;
}

body, input, button {
    font-family: var(--ff-jetbrains);
}

header {
    align-self: flex-start;
    justify-self: center;
}

main {
    align-self: flex-start;
    justify-self: center;
}

/* header styles */

.save-logo {
    position: fixed;
    inset: 1rem auto auto 1rem;
}

header p {
    font-weight: var(--ff-extra-bold);
    font-size: clamp(1.6rem, 2rem + 1vw, 3rem);
    margin: 3rem auto 2rem;
}

/* top250 text style */

.mainHeader {
    text-align: center;
    font-size: clamp(3.2rem, 4rem + 5vw, 9.4rem);
    font-family: var(--ff-sansita-one);
    color: var(--fc-mainheader);
    text-shadow: -6px 3px 0px #000000;
}

/* movie-container style */

.movie-container {
    margin: 3rem;

    border: .4rem solid #000000;
    border-radius: 1.1rem;

    min-width: clamp(40rem, 25rem + 30vw, 70rem);
    min-height: clamp(60rem, 35rem + 25vw, 70rem);
}

/* movie-wrapper styles */

.movie-wrapper {
    margin: 3rem;
    display: flex;
    justify-content: center;
}

.movie-wrapper img {
    max-height: clamp(20rem, 15rem + 10vw, 30rem);
    border-radius: .4rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper input {
    border: none;
    text-align: center;
}

.input-wrapper input:focus {
    border: 0 solid white;
    box-shadow: 0;
    outline: 0;
}

#movieName {
    font-family: var(--ff-sansita-one);
    font-size: clamp(1.6rem, 1rem + 1vw, 3.6rem);
}

#movieReleaseDate {
    font-family: var(--ff-sansita-one);
    font-size: clamp(1.6rem, 1rem + 1vw, 3.6rem);
}