* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --btn-hover-color: #404040;
    --ff-jetbrains: 'JetBrains Mono', monospace;
    --ff-sansita: 'Sansita', sans-serif;
    --ff-sansita-one: 'Sansita One', cursive;
    --ff-thin: 100;
    --ff-extra-light: 200;
    --ff-light: 300;
    --ff-regular: 400;
    --ff-medium: 500;
    --ff-semibold: 600;
    --ff-bold: 700;
    --ff-extra-bold: 800;
    font-size: 62.5%;
}

body {
    display: grid;
    min-height: 100vh;
}

header {
    align-self: flex-start;
    justify-self: center;
}

main {
    align-self: flex-start;
    justify-self: center;
}

.hide {
    display: none;
}

/* header style */

.save-logo {
    position: fixed;
    inset: 1rem auto auto 1rem;
}

header p {
    margin-top: 7rem;
    font-family: var(--ff-sansita);
    font-size: clamp(1.6rem, 1rem + 10vw, 2.4rem);
}

header p span {
    font-family: var(--ff-sansita-one);
    font-size: clamp(1.6rem, 1rem + 10vw, 4rem);
}

/* button styles */

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* main button style */

.profileAction {
    margin-bottom: 7rem;
}

.profileAction svg path {
    transition: fill .3s;
}

.profileAction svg path:hover{
    fill: var(--btn-hover-color);
}