* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #000000;
    --btn-hover-color: #404040;
    --ff-jetbrains: 'JetBrains Mono', monospace;
    --ff-sansita: 'Sansita', sans-serif;
    --ff-sansita-one: 'Sansita One', cursive;
    --ff-thin: 100;
    --ff-extra-light: 200;
    --ff-light: 300;
    --ff-regular: 400;
    --ff-medium: 500;
    --ff-semibold: 600;
    --ff-bold: 700;
    --ff-extra-bold: 800;
    font-size: 62.5%;
}